body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #a393eb;
}

h2 {
  margin: 0 auto;
  font-size: 25px;
  padding-bottom: 10px
}

.additional-info {
  font-size: 12px;
  font-weight: 400;
}

.app-card {
  box-shadow: 0px 0px 6px rgb(224, 224, 224);
  max-width: 550px;
  margin: 60px auto;
  padding: 30px;
}

.city-name{
  padding: 0px 0px 0px 12px;
}

.city-temperature {
  text-align: right;
}


.coder-name {
  font-size: 10px;
  padding-top: 15px;
  text-align: center;
}

.col-2{
  margin: 0px 7px;
}

.humidity-temp {
  text-align: right;
}

.row.city-weather {
  padding: 10px 0;
}

.search-bar {
  font-size: 12px;
}

.search-button {
  background-color: #c3bef0;
  border: none;
  font-size: 12px;
}

.search-button:hover {
  background-color: #a393eb;
  border: none;
  transition: 200ms all ease-in-out;
}

.temperatureChange {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
}

.weather-description {
  text-transform: capitalize;
}

.weather-forecast {
  padding: 10px 0px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
}

.weather-forecast-temperature-max {
  font-size: 12px;
  font-weight: 300;
}

.weather-forecast-temperature-min {
  color: rgb(141, 141, 141);
  font-size: 12px;
  font-weight: 300;
}

.windspeed-temp {
  text-align: right;
}

::selection {
  background-color: #c3bef0;
  color: #fff;
}

#main-temp{
  font-size: 30px;
}

#weather-icon {
  max-height: 55px;
}
